{% extends 'base.html' %}

{% block content %}
<div class="row my-3">
    <div class="col-12 text-center">
        <h4> Opravdu chcete odstranit autora: {{ object.name }} {{ object.lastname }}</h4>
    </div>
</div>
<div class="row my-3">
    <div class="col-12 text-center">
        <form method="post" >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mr-3">Ano smazat</button>
            <a href="{% url 'staff_author_list' %}" class="btn btn-success">Zpět</a>
        </form>

    </div>
</div>
{% endblock %}