{% extends 'base.html' %}

{% block content %}

<div class="form-container">
    <h1 class="form-title">Editace knihy</h1>
    <form method="post" class="styled-form">
        {% csrf_token %}
        {{ form.as_p }}
         {% comment %}
<!--        {{ formset.management_form }}-->
<!--        {% for subform in formset %}-->
<!--            <div class="image-form">-->
<!--                {{ subform.as_p }}-->
<!--            </div>-->
<!--        {% endfor %}-->
        {% endcomment %}
        <input type="hidden" name="next" value="{{ back_url }}">
        <div class="form-buttons">
            <button type="submit" class="btn btn-success ">Uložit</button>
            <a href="{{ back_url }}" class="btn btn-secondary">Zpět</a>
        </div>
    </form>

</div>

{% endblock %}}