{% extends 'base.html' %}

{% block content %}

<div class="form-container">
    <h1 class="form-title">Opravdu chcete odebrat autora {{ author.name }} {{ author.lastname }} z knihy: {{ book.name
        }}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-buttons">
            <button type="submit" class="btn btn-danger mr-3">Ano smazat</button>
            <a href="{{ next }}" class="btn btn-success">Zpět na detail knihy</a>
        </div>
    </form>
</div>
{% endblock %}