{% extends 'base.html' %}
{% block content %}
<div class="book-detail-page">
    <div class="book-header">
        <img src="{{ book.images.all.0.image.url }}" alt="Obálka knihy" class="book-cover">
        <div class="book-info-box">
            <h1 class="book-title">{{ book.name }}</h1>
            <p class="book-author">
                {% if book.autor.all %}
                {{ book.autor.all|join:", " }}
                {% else %}
                (bez autora)
                {% endif %}
            </p>
            <p class="book-description">{{ book.description }}</p>
            <p class="book-stock">
                {% if book.stock_quantity > 5 %}
                Na skladě: 5+ ks
                {% else %}
                Na skladě: {{ book.stock_quantity }} ks
                {% endif %}
            </p>
            <p class="book-price">{{ book.get_discount_price }} Kč
                <span class="fs-6 text-muted text-decoration-line-through">
                            {% if book.discount %}
                            {{ book.price }} Kč
                            {% endif %}
                        </span> <br>
                {% if book.converted_price_eur_discount  %}
                ({{ book.converted_price_eur_discount }} EUR)
                <span class="fs-6 text-muted text-decoration-line-through">
                            {% if book.discount %}
                            {{ book.converted_price_eur }} Kč
                            {% endif %}
                </span>
                {% elif book.converted_price_eur %}
                ({{ book.converted_price_eur }} EUR)
                {% endif %}
            </p>

            {% if book.stock_quantity > 0 %}
            <form action="{% url 'add_to_cart' book.pk %}" method="post" class="add-to-cart-form">
                {% csrf_token %}
                <button class="add-to-cart-btn" type="submit">Přidat do košíku</button>
            </form>
            {% else %}
            <p class="out-of-stock">Produkt je vyprodán</p>
            {% endif %}

        </div>
    </div>

    {% if book.images.all|length > 1 %}
    <div class="book-thumbnails">
        {% for img in book.images.all|slice:"1:" %}
        <img src="{{ img.image.url }}" alt="Galerie" class="thumbnail">
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}


<!--      {% comment %}-->
<!--      <form action="{% url 'favorite_book' book.id %}" method="post" style="display: inline;">-->
<!--                        {% csrf_token %}-->
<!--                        <input type="hidden" name="next" value="{{ request.path }}">-->
<!--                        <button type="submit" class="fas fa-heart">-->
<!--                            {% if user in book.favorite_book.all %}-->
<!--                                Odebrat z oblíbených-->
<!--                            {% else %}-->
<!--                                Přidat do oblíbených-->
<!--                            {% endif %}-->
<!--                        </button>-->
<!--                    </form>-->
<!--      {% endcomment %}-->