{% extends 'base.html' %}

{% block content %}

<div class="row my-3">
    <div class="col-6 ">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Kategorie
            </button>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item text-decoration-none"
                       href="{% url 'book_list' %}?category={{ category.id }}">
                    {{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="row">
    {% for book in books %}
    <div class="col-4 col-md-3 col-lg-2 p-2">
        <div class="card h-100">
            <img class="card-img-top" src="{{ book.images.all.0.image.url }}" alt="{{ book.name }}">
            <div class="card-body">
                <h6 class="card-title">
                    <a href="{% url 'book_detail' book.id %}" class="text-decoration-none text-dark">{{ book.name }}</a>
                </h6>
                {% comment %}
                <div class="card-text">
                    Autor: <a href="{% url 'autor_detail' book.autor.id %}"></a>
                </div>
                {% endcomment %}
                <div class="card-text ">Cena: {{ book.price }} Kč</div>
            </div>
        </div>
    </div>
    {% empty %}
    žádné knihy
    {% endfor %}
    </div>
</div>
{% endblock %}