{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-4 d-flex flex-column my-4 border-right">
        {% if book.images.all|length > 0 %}
            <div class="d-flex justify-content-center align-items-center max-height-400">
                <img src="{{ book.images.all.0.image.url }}" class="img-fluid max-size-img" alt="Hlavní obrázek">
            </div>
        {% else %}
            Žádné obrázky nejsou k dispozici.
        {% endif %}
    </div>

    <div class="col-12 col-md-8 d-flex flex-column px-4 py-3">
        <div>
            <h2 >{{ book.name }}</h2>
        </div>

        <div>
                <h5 class="border-bottom">
                {% if book.autor.all %}
                    {{ book.autor.all|join:", " }}
                {% else %}
                    není zadaný žádný autor
                {% endif %}
                </h5>
        </div>

        <div>
            <h5>Popis</h5>
            <p>{{ book.description }}</p>
        </div>
        <div>

            {% if book.stock_quantity > 2 %}
                <h6>Na skladě: 2+ ks</h6>
            {% else %}
                <h6>Na skladě: {{ book.stock_quantity }} ks</h6>
            {% endif %}
        </div>
        <div>
            <h3>Cena: {{ book.price }} Kč</h3>
        </div>
        <div class="text-right">
            <form action="{% url 'add_to_cart' book.pk %}" method="post">
                {% csrf_token %}
                <button class="btn border" type="submit">Přidat do košíku</button>
            </form>
        </div>
    </div>
</div>

<div class="row border-top">
    <div class="col-12 col-md-4 d-flex flex-column border-right">
        {% if book.images.all|length > 0 %}
            <div class="d-flex justify-content-between flex-fill mt-1">
               {% for img in book.images.all|slice:"1:4" %}
                  <img src="{{ img.image.url }}" class="img-fluid" style="width: 32%; height: 100%; object-fit: cover;" alt="Menší obrázek {{ forloop.counter }}">
               {% endfor %}
            </div>
        {% else %}
            <p>Žádné obrázky nejsou k dispozici.</p>
        {% endif %}
    </div>
    <div class="col-12 col-md-8 d-flex flex-column p-4">
    </div>
</div>

{% endblock %}}