{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">Opravdu chcete odstranit knihu z košíku?</h1>
    <form method="post" class="styled-form">
        <div class="form-row">
            <span class="form-label">Název knihy:</span>
            <span class="form-value">{{ book.product.name }}</span>
        </div>
        {% csrf_token %}
        <div class="form-buttons">
            <button type="submit" class="btn btn-danger">Ano smazat</button>
            <a href="{% url 'cart_detail' %}" class="btn btn-secondary">Zpět</a>
        </div>
    </form>
</div>
{% endblock %}