
<section class="arrivals" id="arrivals">
    <h1 class="heading"><span>Nové přírůstky</span></h1>
    <h3 class=""><span>Knihy</span></h3>
        <div class="swiper arrivals-slider">
            <div class="swiper-wrapper">
                {% for book in new_books %}
                <a href="{% url 'book_detail' book.id %}" class="swiper-slide box">
                    <div class="image">
                        <img src="{{ book.images.first.image.url }}" alt="{{ book.images.first.description }}">
                    </div>
                    <div class ="content">
                        <h3>{{ book.name }}</h3>
                        <div class="price">{{ book.get_discount_price }} Kč
                            <span>
                                {% if book.discount %}
                                {{ book.price }} Kč
                                {% endif %}
                            </span></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
<h3 class=""><span>E-Knihy</span></h3>
        <div class="swiper arrivals-slider">
            <div class="swiper-wrapper">

                {% for ebook in new_ebooks %}
                <a href="{% url 'book_detail' ebook.id %}" class="swiper-slide box">
                    <div class="image">
                        <img src="{{ ebook.images.first.image.url }}" alt="{{ ebook.images.first.description }}">
                    </div>
                    <div class ="content">
                        <h3>{{ ebook.name }}</h3>
                        <div class="price">{{ ebook.get_discount_price }} Kč<span>
                            {% if book.discount %}
                            {{ book.price }} Kč
                            {% endif %}
                        </span></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
</section>
