<nav class="bottom-navbar">

    <a href="{% url 'home' %}" class="fas fa-home"></a>
    <a href="{% url 'book_list' %}" class="fas fa-book"></a>
    <a href="{% url 'e_book_list' %}" class="fa-solid fa-desktop"></a>
    <a href="{% url 'audio_book_list' %}" class="fas fa-headphones"></a>

    {% if user.is_authenticated and user.is_superuser or user.is_staff %}
        <a href="{% url 'staff_book_list' %}" class="fas fa-list"></a>
        <a href="{% url 'staff_author_list' %}" class="fa-solid fa-user-pen"></a>
        <a href="{% url 'staff_category_list' %}" class="fa-solid fa-icons"></a>
    {% endif %}

</nav>
