    <section class="deal">
        <div class="content">
            <h3>deal of the day</h3>
            <h1>upto 50% off</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquam amet dolorem facere itaque minima nemo odit sunt,
                suscipit. Architecto commodi deserunt doloremque, ducimus incidunt labore quo ratione reiciendis.</p>
            <a href="#" class="btn">shop now</a>
        </div>
        <div class="image">
            <img src="/media/eshop/images/deal2.png" alt="">
        </div>
    </section>