
<section class="featured" id="featured">
    <h1 class = "heading"><span>featured books</span></h1>
    <div class="swiper featured-slider">
        <div class="swiper-wrapper">
            {% for book in books %}
            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                         <button
                            class="fas fa-heart fav-btn"
                            data-url="{% url 'favorite_book' book.id %}"
                            title="Přidat / Odebrat z oblíbených"
                          ></button>
<!--                    <a href="{% url 'favorite_book' book.id %}?next={{ request.path }} " class="fas fa-heart" >{% if user in book.favorite_book.all %}&ndash;&gt;-->
<!--                                Odebrat z oblíbených-->
<!--                            {% else %}-->
<!--                                Přidat do oblíbených-->
<!--                            {% endif %}-->
<!--                    </a>-->
                    <a href="{% url 'book_detail' book.id %}" class="fas fa-eye" title="Zobrazit"></a>
                </div>
                <div class="image">
                    <img src="{{ book.images.first.image.url }}" alt="{{ book.images.first.description }} ">
                </div>
                <div class="content">
                    <h3>{{ book.name }}</h3>
                    <div class="price">{{ book.get_discount_price }} Kč<span>{{ book.price }} Kč</span></div>
                    <a href="#" class="btn">add to cart</a>
                </div>
            </div>
            {% empty %}
                žádné knihy
            {% endfor %}
<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/zaciname-programovat-v-jazyku-python.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/deep-learning-v-jazyku-python-2.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide box">-->
<!--                <div class="icons">-->
<!--                    <a href="#" class="fas fa-search"></a>-->
<!--                    <a href="#" class="fas fa-heart"></a>-->
<!--                    <a href="#" class="fas fa-eye"></a>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="/media/eshop/images/book-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>featured books</h3>-->
<!--                    <div class="price">$15.99<span>$20.99</span></div>-->
<!--                    <a href="#" class="btn">add to cart</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
