{% extends 'base.html' %}

{% block title %}
    Online Store Jirásek
{% endblock %}

{% block content %}
    {% include 'swiper_top.html' %}

    {% include 'icons.html' %}

    {% include 'featured.html' %}

    {% comment %}
    {% include 'newsletter.html' %}
    {% endcomment %}

    {% include 'arrivals.html' %}

    {% comment %}
    {% include 'deal.html' %}

    {% include 'reviews.html' %}

    {% include 'blogs.html' %}
    {% endcomment %}

{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'js/script2.js' %}"></script>