{% extends 'base.html' %}

{% block title %}
    Online Store Jirásek
{% endblock %}

{% block content %}
    {% include 'home1.html' %}

    {% include 'icons.html' %}

    {% include 'featured.html' %}

    {% include 'newsletter.html' %}

    {% include 'arrivals.html' %}

    {% include 'deal.html' %}

    {% include 'reviews.html' %}

    {% include 'blogs.html' %}
    <h1>Vítejte v knihkupectví Jirásek.</h1>
    <a href="{% url 'staff' %}" class="btn border" >Page for staff</a>
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'js/script2.js' %}"></script>