<div class="login-form-container {% if login_failed %}active{% endif %}">
    <div id="close-login-btn" class="fas fa-times"></div>
        <form action="{% url 'custom_login' %}" method="POST">
            {% csrf_token %}
            <h3>Přihlásit se</h3>
            <span>Uživatelské jméno</span>
            <input type="text" name="username" class="box" placeholder="Zadejte e-mail" required>
            <span>Heslo</span>
            <input type="password" name="password" class="box" placeholder="Zadejte své heslo" required>

            <div class="login-message">
                {% if messages %}
                    {% for message in messages %}
                        <p class="{% if message.tags == 'error' %}text-error{% else %}text-success{% endif %}">
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>

            <input type="submit" value="sign in" class="btn" id="login-submit">

            <p>Nemáte účet?  <a href="{% url 'signup' %}">Vytvořte si ho</a> </p>
        </form>
  </div>
