    <section class="home" id="home">
        <div class="row">
            <div class="content">
                <h3>Knihkupectví Jirásek</h3>
                <p style="color: #000;">Knihkupectví Jirásek je rodinná společnost s bohatou tradicí a živou vášní pro literaturu, sídlící
                    pod věží Špilberku v srdci Plzně. Už od svého vzniku nabízí čtenářům pečlivě vybraný sortiment
                    – od klasických českých autorů jako Karel Čapek či Božena Němcová, přes moderní bestsellery až po
                    odborné publikace a akademické tituly. Interiér prodejny je útulný a světly prozářený, s pohodlnými
                    křesly ke krátkému posezení a prolistování novinek.
                    Majitelé, manželé Novotných, věří, že knihy spojují generace, a proto pravidelně pořádají besedy
                    s autory, literární večery i tematické workshopy. Pro mladé čtenáře mají dětský koutek s malou scénou na večerní čtení pohádek a pravidelné soutěže o tematické knižní balíčky.
                    Knihkupectví Jirásek neslouží jen jako prodejna, ale i jako komunitní centrum pro milovníky slov.
                    V první patře najdete klidnou čítárnu s výhledem do zeleně městského parku, kde můžete strávit klidné odpoledne u dobrodružného románu nebo nového detektivního příběhu. Široký výběr zahrnuje i zahraniční literaturu v originále, umělecké monografie a limitované edice.
                    Díky svému přístupu „osobně, nikoli anonymně“ si Jirásek získal stálou klientelu.
                    Ať už sháníte dárek pro blízkého, inspiraci pro vlastní psaní nebo jen tiché útočiště, dveře
                    knihkupectví Jirásek v Plzni jsou vám stále otevřené.
                <a href="#" class="btn">nakupujte nyní</a>
            </div>

            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                    {% for book in books %}
                    <a  href ="{% url 'book_detail' book.id %}"class = "swiper-slide mx-4"><img src="{{ book.images.first.image.url }}" alt="{{ book.images.first.description }} ">
                    </a>
                    {% endfor %}
                        {% comment %}
                    <a  href ="#"class = "swiper-slide"><img src="/media/eshop/images/python-snadno-a-rychle.jpg" alt=""></a>
                    <a  href ="#"class = "swiper-slide"><img src="/media/eshop/images/deep-learning-v-jazyku-python-2.jpg" alt=""></a>
                    <a  href ="#"class = "swiper-slide"><img src="/media/eshop/images/db148369-2b5b-45cf-8168-2fc2c8fd5e10.jpg" alt=""></a>
                    <a  href ="#"class = "swiper-slide"><img src="/media/eshop/images/zaciname-programovat-v-jazyku-python.jpg" alt=""></a>
                    <a  href ="#"class = "swiper-slide"><img src="/media/eshop/images/zaciname-programovat-v-jazyku-python_dQoZhqd.jpg" alt=""></a>
                    <a  href ="#"class = "swiper-slide"><img src="/media/eshop/images/python-snadno-a-rychle.jpg" alt=""></a>
                        {% endcomment %}
                </div>
            <img src="/media/eshop/images/stand2.png" class="stand" alt="">
            </div>
        </div>
    </section>