<div class="header-1">
    <a href="{% url 'home' %}" class="logo"> <i class="fas fa-book"></i> Jirásek </a>

<div id="search-wrapper"
     class="d-flex mx-auto"
     style="max-width:700px;"
     data-search-url="{% url 'search' %}"
     data-autocomplete-url="{% url 'autocomplete_search' %}"
     data-detail-url-template="{% url 'book_detail' 0 %}">
  <input
    id="search-input"
    class="form-control rounded-start"
    type="search"
    name="q"
    placeholder="Hledej zde…"
    autocomplete="off"
  />
  <button
    id="search-button"
    class="btn-success rounded-end"
    type="button"
  >
    <i class="fas fa-search"></i>
  </button>
  <ul id="suggestions" class="list-group"></ul>
</div>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a href="{% url 'user_favorite_books' %}" class="fas fa-heart"></a>
        <a href="{% url 'cart_detail' %}" class="fas fa-shopping-cart"></a>
            <div id="login-btn-wrapper">
                   <div id="login-btn"
                         class="fas fa-user"
                         data-auth="{% if user.is_authenticated %}true{% else %}false{% endif %}"
                         data-username="{{ user.username }}"
                         title="{% if user.is_authenticated %}{{ user.username }}{% else %}Nikdo není přihlášen{% endif %}">
                    </div>

                    <!-- Dropdown menu - zobrazí se pouze pokud je uživatel přihlášen -->
                    {% if user.is_authenticated %}
                    <div id="user-dropdown-menu" class="custom-user-dropdown">
                        <a href="{% url 'password_change' %}">Změna hesla</a>
                        <a href="{% url 'logout' %}">Odhlásit</a>
                    </div>
                    {% endif %}
            </div>
    </div>
</div>