   <div class="header-2">
       <nav class="navbar">
           <a href="{% url 'home' %}">Home</a>
           <a href="{% url 'book_list' %}">Knihy</a>
           <a href="{% url 'e_book_list' %}">E-knihy</a>
           <a href="{% url 'audio_book_list' %}">Audioknihy</a>


<!--           <a href="#" id="book-list-link" data-auth="{% if user.is_authenticated and user.is_staff or user.is_superuser %}true{% else %}false{% endif %}" data-url="{% url 'staff_book_list' %}">Book List</a>-->
           {% if user.is_authenticated and user.is_superuser or user.is_staff %}
           <a href="{% url 'staff_book_list' %}">Book list</a>
           <a href="{% url 'staff_author_list' %}">List of authors</a>
           <a href="{% url 'staff_category_list' %}">Category list</a>
           {% endif %}
           <!--
           <a href="#reviews">Recenze</a>
           <a href="#blogs">Blogs</a>
           -->
       </nav>
   </div>